// 主题色
$primary-color: #2d78fe;

// 背景色
$bg-color: #fafafa;
$bg-text-color: #f7f8f9;
$bg-tag-color: #f6f6f6;

// 标题栏
$title-color: #111;

// 分割线
$dark-border-color: #edebeb;
$light-border-color: #f7f7f8;

// 红色
$red-color: #e31818;
$orange-color: #ff8c3f;

// 箭头颜色
$arrow-color: #666;
// icon字体颜色
$icon-color: #333;

:root {
    --el-color-primary: #2d78fe;
}
